<h1>Cab Share</h1>
Name: <input type = "text" name = "name">
<br>
Phone Number: <input type="tel" name="phone_number">
<br>
Pickup Date: <input type = "date" name = "pickup_date">
<br>
Pickup Time: <input type="time" name="pickup_time">